/* Header */
nav {
    background-color: slategray;
    width: 33%;
    height: 32.5px;
    float: right;
    padding-top: 15px;
    margin: 30px;
    border: solid white 1px;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 30px;
    text-align: center;
    padding-top: 15px;
}

/* banner */

#banner {
    clear: both;
    height: 75px;
    width: 100%;
    background-color: slategray;
    text-align: center;
    padding: 0px;
    border: white solid 1px; 
}

#banner h1 {
    color: white;
    font-size: 60px;
    margin: 5px 0 0 0;
}

/* page back-ground */

#background-image {
    background: url(../images/ufo-1.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 1200px;
}

#intro-text {
    height: 150px;
    width: 33%;
    background-color: rgba(112, 128, 144, .8);
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px 30px;
    border: solid white 1px;
}

#intro-text h2, p {
    color: white;
}