@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat+Alternates:wght@200&family=Orbitron:wght@700&display=swap');

body {
    font-family: montserrat, sans-serif;
}

p {
    font-family: montserrat, sans-serif;
}

H1, H2 {
    font-family: orbitron;
}

/* Header */
header nav {
    backdrop-filter: blur(50px);
    width: 66%;
    height: 32.5px;
    float: right;
    padding-top: 15px;
    margin: 60px 0 0 0;
    text-align: right;
    /* border: solid white 1px; */
    /* border-radius: 3px; */
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 30px;
    text-align: center;
    padding-top: 15px;
    transition: all 0.5s ease-out;
}

header nav a:hover {
    color: rgb(205, 150, 0);
    text-decoration: underline;
}

/* banner */

#banner {
    clear: both;
    height: 75px;
    width: 100%;
    /* backdrop-filter: blur(50px); */
    text-align: center;
    padding: 0px;
    /* border: white solid 1px;  */
}

#banner h1 {
    color: white;
    font-size: 60px;
    margin: 5px 0 0 0;
}

/* page back-ground image */

#background-image {
    background: url(../images/blue-sky.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 1200px;
    
}

/* Introduction Paragraph */

#intro-text {
    height: 225px;
    width: 33%;
    backdrop-filter: blur(50px);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 75px;
    padding: 5px 30px;
    border: solid white 1px;
    border-radius: 3px;
}

#intro-text div, h2 p {
    color: white;
}

/* picture links */

#picture-links div {
    float: left;
    overflow: hidden;
}

#picture-links{
    line-height: 0;
    backdrop-filter: blur(10px);
    height: 450px;
    width: 100%;
    border: white solid 1px;
    box-sizing: border-box;
}

#picture-links-left {
    width: 20%;
    height: 337.5px;
    background: url(../images/gimbal-2.jpg) no-repeat center center;
    margin: 37.5px 2% 37.5px 4%;
    border-radius: 10px;
    box-sizing: border-box; 
    background-size: cover;
    transition: all 0.5s ease-out;
}

#picture-links-right {
    width: 20%;
    height: 337.5px;
    background: url(../images/top-secret-folder_0.png) no-repeat center center;
    margin: 37.5px 2% 37.5px;
    border-radius: 10px;
    box-sizing: border-box;
    background-size: cover;
    transition: all 0.5s ease-out;
}

#picture-links-center-left {
    width: 20%;
    height: 337.5px;
    background: url(../images/bob-lazar.jpg) no-repeat center center;
    margin: 37.5px 2% 37.5px;
    border-radius: 10px;
    box-sizing: border-box;
    background-size: cover;
    transition: all 0.5s ease-out;
}

#picture-links-center-right {
    width: 20%;
    height: 337.5px;
    background: url(../images/planet-581239.jpg) no-repeat center center;
    margin: 37.5px 2% 37.5px;
    border-radius: 10px;
    box-sizing: border-box;
    background-size: cover;
    transition: all 0.5s ease-out;

}

#picture-links-center-right:hover {
    
    transform: scale(1.1);
    
}

#picture-links-center-left:hover {
    
    transform: scale(1.1);
}

#picture-links-left:hover {
    
    transform: scale(1.1);
}

#picture-links-right:hover {
    
    transform: scale(1.1);
}

.picture-link-text {
    text-align: center;
    padding: 112.5px 0 112.5px 0;
    margin: 0;
    background-color: rgba( 0, 0, 0, .2);
    color: white;
    font-size: 28px;
    transition: all 0.5s ease-out;
    border-radius: 10px;
}

.picture-link-text:hover {
    color: rgb(205, 150, 0);;
}

a {
    text-decoration: none;
}
    
#picture-links div a img {
    width: 100%;
}

.picture-link-text:hover {
    background-color: rgba( 0, 0, 0, .7);
}

.sub-text {
    height: 150px;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -20px;
    line-height: normal;
    font-size: small;
    padding: 0px 15px 0px 15px;
    box-sizing: border-box;
    color: rgb(112, 112, 112);
}

/* footer */

footer {
    bottom: 0;
    width: 100%;
    clear: both;
    border-top: solid 1px rgb(112, 112, 112);
}

.footer-links {
    font-size: 33.5px;
    background-color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 16px 0 0 0;
    
}

#sign-up-button a {
    border: rgb(150, 148, 148) solid 1px;
    background-color: white;
    border-radius: 20px;
    width: 7.5%;
    color: rgb(150, 148, 148);
    font-family: orbitron;
    font-size: 14px;
    line-height: 35px;
    height: 35px;
    padding: 15px;
    
    
}

#sign-up-button {
    width: 33%;
    margin: 75px auto 0px;
    text-align: center;
    display: block;
}



.social-media-links {
    color: rgb(150, 148, 148);
    padding: 0px 30px 0px 30px;
    text-align: center;
}



#copyright-text {
    margin: 0 auto;
    font-size: smaller;
    color: rgb(112, 112, 112);
    display: block;
    line-height: 35px;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

/* media query */

/* for lagre to medium screen sizes 1300px wide and down */
@media screen and (max-width: 1300px) {
    #intro-text {
        width: 66.66%;
        height: 187.5px;
    }

    header nav {
        width: 100%;
        text-align: center;
    }

    
}


/* for small screen sizes 950px wide and down */
@media screen and (max-width: 950px) {
    #intro-text {
        width: 66.66%;
        height: 300px;
    }
        
    
    #picture-links-center-right {
        clear: left;
        margin: 18.75px 3.33% 75px 6.66%;
        width: 40%;
        border: solid 1px rgb(112, 112, 112);
        
    }

    #picture-links-right {
        margin: 18.75px 6.66% 75px 3.33%;
        width: 40%;
        border: solid 1px rgb(112, 112, 112);
        
    }

    #picture-links-center-left {
        margin: 18.75px 6.66% 18.75px 3.33%;
        width: 40%;
        
        
    }

    #picture-links-left {
        margin: 18.75px 3.33% 18.75px 6.66%;
        width: 40%;
        
    }

    #picture-links {
        height: 750px;
        padding: 30px 0 30px 0;
    }

    #sign-up-button {
        margin: 0 auto;
        
    }
        
    footer {
        margin-top: 375px;
       
    }

    #copyright-text {
        font-size: x-small;
        
        
    }
    
    

}



/* for smaller screen sizes 660px wide and down */
@media screen and (max-width: 660px) {
    #intro-text {
        width: 100%;
        height: 337.5950px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 0;
        border-left: none;
        border-right: none;
    } 

    .larger-screen-menu {
        display: none;
    }
    
    header nav {
        transform: translateY(225px);
        border-top: solid white 1px;
        border-bottom: solid white 1px;
        margin-top: 0px;
    }

    #banner {
        transform: translateY(-75px);
        padding-top: 75px;
        padding-bottom: 37.5px;
    }

    #drop-down-menu-content:hover {
        background-color: green;
        height: 150px;
        width: 100%;
    }

    #picture-links-center-right {
        clear: left;
        margin: 0;
        width: 50%;
        border-radius: 0;
        border: solid 1px rgb(112, 112, 112);
        box-sizing: border-box;
    }

    #picture-links-right {
        margin: 0;
        width: 50%;
        border-radius: 0;
        border: solid 1px rgb(112, 112, 112);
        box-sizing: border-box;
    }

    #picture-links-center-left {
        margin: 37.5px 0px 0px 0px;
        width: 50%;
        border-radius: 0;
        border: solid 1px rgb(112, 112, 112);;
        box-sizing: none;
        
    }

    #picture-links-left {
        margin: 37.5px 0px 0px 0px;
        width: 50%;
        border-radius: 0;
        border: solid 1px rgb(112, 112, 112);;
        box-sizing: none;
        
    }

    
    #picture-links {
        height: 450px;
        background-color: lightgrey;
    }

    #picture-links-left:hover {
        transform: none;
    }

    #picture-links-center-left:hover {
        transform: none;
    }

    #picture-links-right:hover {
        transform: none;
    }

    #picture-links-center-right:hover {
        transform: none;
    }

    .picture-link-text {
        border-radius: 0;
    }

    .sub-text {
        
        border-radius: 0;
        box-sizing: border-box;
        width: 100%;
        margin-top: 0;
        height: 150px;
    }

    .sub-text h3 {
        font-size: 12px;
    }

    .picture-link-text {
        font-size: 24px;
    }

    footer {
        position: relative;
        clear: both;
    }

    #sign-up-button {
        width: 100%;
        clear: both;
        margin-top: 350px;
    }

    .social-media-links {
        padding: 0px 30px 0px 30px;
    }

    
}



/* for smaller screen sizes 660px wide and up */
@media  screen and (min-width: 660px) {
    #drop-down-menu {
        display: none;
    }

    
}