/* Header */
header nav {
    background-color: slategray;
    width: 33%;
    height: 32.5px;
    float: right;
    padding-top: 15px;
    margin: 30px;
    border: solid white 1px;
    border-radius: 3px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 30px;
    text-align: center;
    padding-top: 15px;
}

/* banner */

#banner {
    clear: both;
    height: 75px;
    width: 100%;
    background-color: slategray;
    text-align: center;
    padding: 0px;
    border: white solid 1px; 
}

#banner h1 {
    color: white;
    font-size: 60px;
    margin: 5px 0 0 0;
}

/* page back-ground */

#background-image {
    background: url(../images/space-1.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 1200px;
}

/* Introduction Paragraph */

#intro-text {
    height: 150px;
    width: 33%;
    background-color: rgba(112, 128, 144, .8);
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px 30px;
    border: solid white 1px;
    border-radius: 3px;
}

#intro-text div, h2 p {
    color: white;
}

/* picture links */

#picture-links div {
    float: left;
}

#picture-links{
    margin-left: 7.5%;
    line-height: 0;
}

#picture-links-left {
    background-color: white;
    width: 20%;
    height: 300px;
    border: solid black 1px;
    background: url(../images/gimbal-2.jpg) no-repeat center center;
    margin: 150px 1.25% 0 2.5%;
    border-radius: 3px;
    box-sizing: border-box; 
    background-size: cover;
    transition: height 0.1s ease-out; 
}

#picture-links-right {
    background-color: rgb(201, 41, 41);
    width: 20%;
    height: 300px;
    border: solid black 1px;
    background: url(../images/top-secret-folder_0.png) no-repeat center center;
    margin: 150px 2.5% 0 1.25%;
    border-radius: 5px;
    box-sizing: border-box;
    background-size: cover;
    transition: height 0.1s ease-out;
}

#picture-links-center-left {
    background-color: blue;
    width: 20%;
    height: 300px;
    border: solid black 1px;
    background: url(../images/bob-lazar.jpg) no-repeat center center;
    margin: 150px 1.25% 0 1.25%;
    border-radius: 5px;
    box-sizing: border-box;
    background-size: cover;
    transition: height 0.1s ease-out;
}

#picture-links-center-right {
    background-color: blue;
    width: 20%;
    height: 300px;
    border: solid black 1px;
    background: url(../images/planet-581239.jpg) no-repeat center center;
    margin: 150px 1.25% 0 1.25%;
    border-radius: 5px;
    box-sizing: border-box;
    background-size: cover;
    transition: height 0.1s ease-out;

}

#picture-links-center-right:hover {
    height: 307.5px;
}

#picture-links-center-left:hover {
    height: 307.5px;
}

#picture-links-left:hover {
    height: 307.5px;
}

#picture-links-right:hover {
    height: 307.5px;
}



.picture-link-text {
    text-align: center;
    padding: 150px 0 150px 0;
    margin: 0;
    background-color: rgba( 0, 0, 0, .2);
    color: white;
    font-size: 28px;
    transition: all 0.1s ease;
}

a {
    text-decoration: none;
}
    
#picture-links div a img {
    width: 100%;
}

.picture-link-text:hover {
    background-color: rgba( 0, 0, 0, .7);
    padding: 153.75px 0 153.75px 0;
}